.todos {
  /* background-color: aqua;
  display: flex;
  flex-direction: column; */
}

/* .todo {
  display: flex;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
} */
.todo:nth-child(even) {
  background-color: #eee;
}
.todo {
  width: 500px;
  display: flex;
  gap: 25px;
  padding: 25px;
}

.todo .content {
  flex: 1;
  cursor: pointer;
}

.todo:last-of-type {
  border-bottom: 1px solid #ddd;
}

.todo.done .content {
  text-decoration: line-through;
}
